[user]
    email = cameron@sowder.io
    name = Cameron Sowder
[core]
    editor = nvim
[color]
    ui = auto
[diff]
    tool = meld
[credential]
    helper = !/home/sowderca/.linuxbrew/Cellar/jdk/1.8.0-102/jre/bin/java -Ddebug=false -Djava.net.useSystemProxies=true -jar /home/sowderca/.linuxbrew/Cellar/git-credential-manager/2.0.0/libexec/git-credential-manager-2.0.0.jar
[merge]
	tool = meld
[color "diff"]
	old = red strike
	new = green italic
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
