[Desktop Entry]
Version=1.0
Type=Application
Name=Neovim
Comment=
Exec=nvim
Icon=/usr/share/icons/ultra-flat-icons/apps/small/6471485.png
Path=
Terminal=true
StartupNotify=false
